services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: bardenas
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data